@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", serif;
}
html,
body {
  height: 100%;
}
#container {
  width: 100vw;
  height: 100%;
}
.row {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.row:nth-of-type(2n) {
  margin-top: 20px;
}
.subrow {
  display: flex;
  justify-content: space-between;
}
.column {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 0 10px;
}
.column:nth-of-type(3) > div {
  width: 520px;
  display: flex;
  justify-content: space-between;
}
.column:nth-of-type(1) .widget {
  width: 400px;
}
#ticket {
  display: inline-block;
  width: 350px;
}
#badge {
  display: inline-block;
  font-size: 1.2rem;
  padding: 2px 5px;
  background-color: #97cb99;
  color: #0c2e10;
}
#ticket > h5 {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 30px 0;
}
#ticket > p {
  font-size: 1.3rem;
  line-height: 3rem;
  color: #b6b6b6;
  font-weight: 300;
}
#ticket button {
  margin: 0 5px;
  margin-top: 30px;
}
button {
  padding: 15px 30px;
  border: none;
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
}
.btn-light {
  background-color: #f3f3f3;
}
.btn-dark {
  background-color: #19151f;
  color: #fff;
}
.widget {
  background-color: #fff;
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.2);
  display: inline-block;
  padding: 20px;
}
.health-widget {
  width: 250px;
}
.health-widget > .main-icon {
  color: #c4ac99;
  font-size: 3.5rem;
}
.health-widget > h5 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 20px;
}
.health-widget > span {
  display: block;
}
.health-widget > span:nth-of-type(1) {
  color: #b6b6b6;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 1.1rem;
}
.health-widget > span:nth-of-type(2) {
  font-size: 1.3rem;
}
#upload {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
#upload > span:nth-of-type(1) {
  display: inline-block;
  font-size: 1.7rem;
  background-color: #000;
  color: #fff;
  padding: 8px 12px;
  border-radius: 50%;
}
#upload > div {
  margin: 0 40px;
}
#upload > div > div {
  display: flex;
  align-items: center;
}
#upload > div > div > h5 {
  font-size: 2rem;
  font-weight: 400;
}
#upload > div > div > span {
  margin-left: 20px;
  color: #b6b6b6;
  font-weight: 100;
}
#upload p {
  color: #b6b6b6;
  font-size: 1.3rem;
  font-weight: 300;
}
.progress {
  width: 300px;
  height: 10px;
  border-radius: 50rem;
  background-color: #f6f6f6;
  position: relative;
  overflow: hidden;
}
.progress::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 75%;
  background-color: #c4ac99;
}
#upload > i {
  font-size: 1.75rem;
  color: #b6b6b6;
  border: 1px solid #b6b6b6;
  border-radius: 50%;
  padding: 0px 4px;
}
#icons {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  width: 445px;
}
#icons i {
  font-size: 2rem;
  color: #b6b6b6;
}
#icons i.active {
  color: #000;
}
#weather {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}
#weather > button {
  font-size: 1.7rem;
  background-color: #f3f3f3;
  padding: 10px 15px;
  border-radius: 50%;
  box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.3);
}
#weather h5 {
  font-size: 1.5rem;
  font-weight: 400;
}
#weather span {
  font-size: 0.9rem;
  color: #b6b6b6;
  font-weight: 500;
}
#weather > i {
  font-size: 1.4rem;
  color: #b6b6b6;
  border: 1px solid #b6b6b6;
  border-radius: 50%;
  padding: 2px 5px;
  cursor: pointer;
}
#payment {
  width: 400px;
}
#payment i {
  position: relative;
}
#payment i::after {
  content: "";
  position: absolute;
  right: 3px;
  top: 3px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #f57790;
}
#payment > h5 {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: 400;
}
#payment > p {
  color: #b6b6b6;
  margin-top: 20px;
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 300;
}
#time {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  position: relative;
}
#time div {
  background-color: #f3f3f3;
  box-shadow: 8px -9px 39px 0px rgba(0, 0, 0, 0.2);
  height: 250px;
  width: 250px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#time > div > div {
  height: 200px;
  width: 200px;
  flex-direction: column;
  border: 5px solid #dcbb9f;
}
#time h5 {
  font-size: 2.75rem;
  font-weight: 400;
  color: #dcbb9f;
}
#time span {
  color: #b6b6b6;
}
#time p {
  position: absolute;
  bottom: 40px;
  font-size: 1.2rem;
}
#travel {
  width: 650px;
  display: inline-flex;
  align-items: center;
}
#travel h5 {
  font-size: 2rem;
  font-weight: 400;
}
#travel p {
  font-size: 1.2rem;
  color: #b6b6b6;
  font-weight: 300;
  line-height: 2rem;
  margin: 10px 0;
}
#travel img {
  height: 250px;
  width: 200px;
  object-fit: cover;
  margin-right: 30px;
}
#blogs {
  padding-left: 0;
  padding-right: 0;
  width: 650px;
  display: inline-flex;
  justify-content: space-evenly;
}
.blog img {
  width: 300px;
  height: 250px;
  object-fit: cover;
}
.blog h5 {
  font-size: 1.5rem;
  font-weight: 400;
}
.blog span {
  color: #b6b6b6;
  margin-right: 20px;
}
#account h5 {
  font-size: 2.5rem;
  font-weight: 400;
}
#account p {
  color: #b6b6b6;
}
#account > img {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  object-fit: cover;
}
.input {
  margin: 20px 0;
}
.input > label {
  font-size: 1.2rem;
}
.input > input {
  background-color: #f3f3f3;
  outline: none;
  border: none;
  padding: 20px;
  width: 100%;
  font-size: 1.1rem;
}
#account button {
  width: 100%;
}
#progress {
  width: 340px;
  height: 100%;
}
#progress img {
  width: 100%;
  object-fit: cover;
  height: 300px;
}
#progress span {
  display: inline-block;
  margin-top: 10px;
  font-size: 1.4rem;
  font-weight: 500;
}
#progress h5 {
  font-size: 2.2rem;
  color: #dcbb9f;
  font-weight: 400;
}
#progress p {
  margin: 30px 0;
  color: #b6b6b6;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 2rem;
}
#current {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#current i,
#user > i {
  font-size: 2rem;
}
#current p,
#user > span {
  font-size: 1.2rem;
}
#user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 195px;
}
#map {
  height: calc(100% - 520px);
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#map img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}
#map p {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
}